* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.info-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  font-family: 'Bungee Shade', cursive;
  z-index: 1000;
}

.hidden {
  display: none;
}

.header {
  background-color: #2e8b57;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-family: 'Bungee Shade', cursive;
}

.boxes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 60%;
}

.row {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.box {
    width: 60px;
    height: 60px;
    border: 2px solid #000;
    margin: 0 5px;
    font-size: 2em;
    text-align: center;
    line-height: 60px;
    font-family: 'Bungee Shade', cursive;
    text-transform: uppercase;
}

.invalid {
  animation: flash 0.8s;
}

@keyframes flash {
  0%, 100% {
    background-color: inherit;
  }
  50% {
    background-color: #ff6b6b;
  }
}

.correct {
  background-color: darkgreen;
  color: white;
}

.close {
  background-color: yellow;
  color: black;
}

.wrong {
  background-color: lightgray;
  color: black; 
}

.left-box {
  width: 30%;
  height: auto;
  padding: 10px;
  filter: url(#threshold) blur(0.6px);
}

.right-box {
  width: 30%;
  height: auto;
  padding: 10px;
  filter: url(#threshold) blur(0.6px);
}

.body-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bungee-shade-regular {
  font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ewert-regular {
  font-family: "Ewert", serif;
  font-weight: 400;
  font-style: normal;
}


.fun-zone {
  font-family: 'Ewert', cursive;
  color: yellowgreen;
  font-size: 80px;
  padding: 40px;
  position: relative;
  /* transform: rotate(350deg); */
}

.fun-zone span {
  position: absolute;
  left: 40px;
  top: 40px;
}

.left-box .fun-zone span {
  position: absolute;
  left: 40px;
  top: 40px;
}

.right-box .fun-zone span {
  position: absolute;
  left: 40px;
  top: 40px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.new-game-button {
  background-color: #2e8b57;
  color: white;
  border: 2px solid #000;
  padding: 15px 30px;
  font-size: 1.5em;
  font-family: 'Bungee Shade', cursive;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.new-game-button:hover {
  background-color: #3da56d;
}

.new-game-button:active {
  background-color: #1f6b42;
}

.new-game-button:disabled {
  background-color: #999;
  cursor: not-allowed;
  opacity: 0.6;
}